<html>
    <head><title>Modulo 1 - Desafio Go Node - Rocketseat</title></head>
    <body>
        <form action="/check" method="POST">
            <label>Nome</label>
            <input type="text" placeholder="Digite seu nome" name="nome">
            <br>
            <label>Data de Nascimento</label>
            <input type="date" name="data_nasc">
            <br>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>